@font-face {
  font-family: "HanaMinA";
  src: url("subset/HanaMinA.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HanaMinB";
  src: url("subset/HanaMinB.ttf");
  font-weight: normal;
  font-style: normal;
}
