@font-face {
  font-family: "SourceSansPro";
  src: url("subset/SourceSansPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("subset/SourceSansPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SourceHanSans";
  src: url("subset/SourceHanSansCN-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SourceHanSans";
  src: url("subset/SourceHanSansCN-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
