.ui.feed
  .event
    .content
      .date
        20170215
      .summary
        Created the GitHub repository
  .event
    .content
      .date
        20170315
      .summary
        Started using Jekyll
  .event
    .content
      .date
        20170718
      .summary
        Published the first post
  .event
    .content
      .date
        20170719
      .summary
        Published the site formally
  .event
    .content
      .date
        20170808
      .summary
        Started publishing the generated site instead of the source
  .event
    .content
      .date
        20171005
      .summary
        Started publishing my lecture notes of
        %i Modern Chinese
  .event
    .content
      .date
        20171031
      .summary
        Started using Semantic UI
  .event
    .content
      .date
        20171101
      .summary
        Started using Source Han Sans
  .event
    .content
      .date
        20171201
      .summary
        Started using Noto Sans CJK instead of Source Han Sans
  .event
    .content
      .date
        20180726
      .summary
        Started using HAML partially
