<footer class="site-footer">

  <div class="wrapper">

    <h1 class="footer-heading">{{ site.title | escape }}</h1>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h1 class="footer-heading">{{ site.author | escape }}</h1>
        <p>{{ site.description | escape }}</p>
        {% if site.email %}
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        {% endif %}
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
        <h3 class="footer-heading">Friends</h3>
        <ul>
          {% for friend in site.data.friends %}
            <li><a href="{{ friend.link }}">{{ friend.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

</footer>
