@font-face {
  src: url("/fonts/HanaMinA.ttf");
  font-family: "HanaMinA";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("/fonts/HanaMinB.ttf");
  font-family: "HanaMinB";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("/fonts/CormorantGaramond-Regular.ttf");
  font-family: "Cormorant Garamond";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("/fonts/CormorantGaramond-Bold.ttf");
  font-family: "Cormorant Garamond";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  src: url("/fonts/CormorantGaramond-Italic.ttf");
  font-family: "Cormorant Garamond";
  font-weight: normal;
  font-style: italic;
}
@font-face {
  src: url("/fonts/CormorantGaramond-BoldItalic.ttf");
  font-family: "Cormorant Garamond";
  font-weight: bold;
  font-style: italic;
}
@font-face {
  src: url("/fonts/FreeSerif.ttf");
  font-family: "FreeSerif";
  font-weight: normal;
  font-style: normal;
}
