@font-face {
  src: url("/fonts/HanaMinA.ttf");
  font-family: "HanaMinA";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("/fonts/HanaMinB.ttf");
  font-family: "HanaMinB";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("/fonts/CormorantGaramond-Regular.ttf");
  font-family: "Cormorant Garamond";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("/fonts/CormorantGaramond-Bold.ttf");
  font-family: "Cormorant Garamond";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  src: url("/fonts/SourceSerifPro-Regular.otf");
  font-family: "Source Serif Pro";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("/fonts/SourceSerifPro-Bold.otf");
  font-family: "Source Serif Pro";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  src: url("/fonts/SourceHanSerifCN-Regular.otf");
  font-family: "Source Han Serif CN";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("/fonts/SourceHanSerifCN-Bold.otf");
  font-family: "Source Han Serif CN";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  src: url("/fonts/SourceHanSerifJP-Regular.otf");
  font-family: "Source Han Serif JP";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("/fonts/SourceHanSerifJP-Bold.otf");
  font-family: "Source Han Serif JP";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  src: url("/fonts/NotoSerif-Regular.ttf");
  font-family: "Noto Serif";
  font-weight: normal;
  font-style: normal;
}
