*:lang(en) {
  font-family: "Cormorant Garamond";
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

*:lang(zh) {
  font-family: "HanaMinA", "HanaMinB"; }

*:lang(la) {
  font-family: "FreeSerif"; }

html {
  color: #404040;
  font-size: 4mm;
  font-family: "HanaMinA", "HanaMinB";
  hanging-punctuation: last allow-end; }

body {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0; }

h1, h2, h3, h4 {
  font-weight: bold; }
  h1 small, h2 small, h3 small, h4 small {
    font-weight: normal;
    display: block;
    font-size: 1.2rem;
    line-height: 1.5rem; }

h1 {
  font-size: 2rem;
  line-height: 3rem; }

h2 {
  font-size: 1.5rem;
  line-height: 2rem; }

h3 {
  font-size: 1.2rem;
  line-height: 2rem; }

h4 {
  font-size: 1.2rem;
  line-height: 2rem; }

p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  text-indent: 2.4rem; }
  p small {
    font-size: 1rem;
    line-height: 1.5rem; }
  p.right {
    text-align: right; }
  p.small {
    font-size: 1rem;
    line-height: 1.5rem; }
  p.noindent {
    text-indent: 0; }

blockquote {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  text-indent: 2rem; }

a {
  color: #4080bf;
  text-decoration: none; }

ol {
  margin: 0;
  padding-left: 2rem;
  font-size: 1rem;
  line-height: 1.5rem; }

ul {
  margin: 0;
  padding-left: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style: none; }
  ul.high {
    line-height: 3rem; }

table {
  margin: 1rem 0;
  border-left: 2.4rem solid white;
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  line-height: 1.2rem; }
  table thead {
    border-bottom: 1pt solid gray; }
  table tbody tr {
    border-bottom: 1pt solid #bfbfbf; }
  table tbody tr:last-child {
    border-bottom: 1pt solid gray; }
  table.center {
    text-align: center; }
  table.fixed {
    table-layout: fixed; }
